body {
    background: rgb(189, 189, 248);
    font: normal 15pt arial;
}

header {
    color:white;
    text-align: center;
}

section{
    background:white;
    border-radius: 18px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px black (0,0,0,0.336);
}

select#flista{
    width: 150px;
}

footer{
    color:white;
    text-align: center;
    font-style: italic;
}